<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{style}}">
   

</head>
<body >
    
<section>
  <nav>
    
    <ul>
      <li  class="active"><a class="nav__link" href="/">Home</a></li>
      <li> <a class="nav__link" href="/message">Chat</a></li>
      <li><a class="nav__link" href="/realTimeProducts">Real Time</a></li>
      <li>  <a class="nav__link" href="/products">Paginacion</a></li>
      <li><a class="nav__link" href="/profile" >Perfil</a></li>
      <li>   <a class="nav__link" href="/register">Registro</a></li>
    </ul>
  </nav>
</section>

    {{{body}}}
</body>
</html>