<h1>Page Login</h1>


<p>{{message}}</p>
<p>{{error}}</p>

<form method="post" action="/api/users/login">
    <input type="email" name="email" placeholder="user addres " />
  <input type="password" name="password" placeholder="user password" />

    <button>login</button>
</form>

<script src="/js/users.js"></script>