<h1>Pagina del perfil</h1>



{{error}}
{{userName}}
<p id="welcomeUser">{{user.first_name}} </p>
<br>
<button id="getProfile" >Get profile</button>

<a href="/api/users/logout"> Cerrar sesion</a>

<script src="/js/profile.js"></script>