<h1>Restablece tu contrase単a</h1>

<p style="color:red"> {{error}}</p>
<br>
<p>ingresa tu nueva contrase単a</p>

<form action="/api/users/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="nueva contrase単a" name="newPassword">
    <button>restablecer contrase単a</button>
</form>