<h1>Vista del registro</h1>


<p style="color: red;">{{error}}</p>


<form method="post" action="/api/users/signUp" id="signupForm">
<input type="text" name="name" placeholder="Your name">
    <input type="email" name="email" placeholder="user address " />
  <input type="password" name="password" placeholder="user password" />

    <button type="submit">Registrarse</button>
</form>

