<h1>Page Login</h1>

<form method="post" action="/api/users/login">
<input type="name" name="name" placeholder="Your name">
    <input type="email" name="email" placeholder="user addres " />
  <input type="password" name="password" placeholder="user password" />

    <button>login</button>
</form>

<script src="/js/users.js"></script>